*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

.hero{
	background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
	min-height: 100vh;
	width: auto;
	color: #fff;
	position: relative;
}
nav{
	display: flex;
	align-items: center;
	padding: 20px 8%;
	transition: background 1s;
}
nav .menu-img{
	height: 100px;
	width: 60px;
	margin-left: 20px;
	cursor: pointer;
	filter: brightness(60%) saturate(100%);
	color: rgb(119, 158, 203);
}
nav .logo{
	height: 100px;
	width: 100px;
	cursor: pointer;
	filter: brightness(250%);
	border-radius: 50%;
}

nav ul{
	flex: 1;
	text-align: right;
}
nav ul li{
	font-size: larger;
	display: inline-block;
	list-style: none;
	margin: 0 20px;
}
nav ul li a{
	text-decoration: solid;
	color: white;
}
button{
	background: blue;
	height: 30px;
	width: 60px;
	border-radius: 20px;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: background 0.5s;	
}
button span{
	display: block;
	background: white;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	margin-left: 2px;
	transition: background 0.5s, margin-left 0.5s;
}
.lamp-container{
	position: absolute;
	top: -20px;
	left: 22%;
	width: 150px;
}
.lamp{
	width: 100%;

}
.light{
	position: absolute;
	top: 97%;
	left: 50%;
	transform: translateX(-50%);
	width: 600px;
	margin-left: -10px;
	opacity: 100%;
	transition: opacity 0.5s;
}
.text-container{
	max-width: 600px;
	margin-top: 7%;
	margin-left: 50%;
}
.text-container h1{
	font-size: 80px;
	font-weight: 400;
}
.text-container a{
	text-decoration: none;
	background: blue;
	opacity: 50%;
	padding: 14px 40px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	margin-top: 30px;
	border-radius: 30px;
}
.control{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 150px;
}
.control .line{
	width: 250px;
	height: 4px;
	background: #fff;
	margin: 0 20px;
	border-radius: 2px;
}
.control .line span{
	width: 50%;
	height: 8px;
	margin-top: -2px;
	border-radius: 4px;
	background-color: #00986f;
	display: block;
}
.active{
	background: rgba(255, 255, 0, 0.068);
}
.active span{
	background: #fff;
	margin-left: 31px;
}
.off{
	opacity: 0;
}
nav:hover{
	background: rgba(0, 0, 0, 0.411);
}
nav:hover .logo{
	color: blue;
}
nav:hover ul li a{
	color: rgb(202, 199, 18);
	font-weight: 100%;
}
nav:hover .menu-img{
	filter: brightness(100%);
	color: blue;
}
.text-container a:hover{
	opacity: 100;
	color: white;
	transition: opacity 1s;
}
.slide-left{
    animation: slideleft 2s linear forwards;
}
@keyframes slideleft {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.pace{
	line-height: 200%;
	font-size: large;
}
.nouveau{
	background-color: black;
}
