*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.all{
    background-image: url("/images/hacker-binary-codes-kf28a8fpd2a7uga3.jpg");
}
.header{
    padding: 50px;
    width: 100%;
    height: 100vh;
   
    background-position: center;
    background-size: cover;
    color: white;
}
.header h2{
    font-size: 2.5em;
    color: #fff;
    padding-top: 10%;
    padding-left: 0%;
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
}
.header p{
    
    font-size: 1.2em;
    color: #fff;
    margin-left: 50%;
    font-size: 25px;
    text-align: right;
    max-width: 700px;
    line-height: 60px;
}

.slide-left{
    animation: slideleft 1s linear forwards;
}
@keyframes slideleft {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.new{
    border: 2px solid white;
    color: #fff;
    padding: 10px 35px;
    border-radius: 100px; 
    margin-right: 15px;
}

.links{
    font-size: 25px;
   padding-bottom: 10%;
    padding-left: 60.5%;
    color: #fff;
    
}

.links a{
    
    color: white;
    text-decoration: none;
    display: inline-block;
}
.colors{

    height:100px;
    width:200px;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    font-size: larger;
}
